<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>The <%= 'crazy'.toUpperCase() %> home page</h1>
    <div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum deleniti
        asperiores labore cupiditate alias, quisquam autem soluta voluptas sint
        suscipit placeat corporis, porro eum, est omnis dolorem sapiente quos
        modi.
      </p>
      <label>Name</label>
      <input type="text" />
    </div>
    <div>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. At id autem
        est quae ipsum non dicta delectus accusamus distinctio! Cupiditate
        excepturi quibusdam enim sed quaerat, atque accusamus iste eveniet
        sapiente!
      </p>
      <label>Number</label>
      <input type="number" />
    </div>
  </body>
</html>
